.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

.main-menu button {
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 98%;
    cursor: pointer;
}
