.daily-log-create-form {
    position: absolute;
    margin-top: -125px;
    width: 250px;
    margin-left: 50px;
    align-content: center;
}
.daily-log-create-form label {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.daily-log-create-form input {
    width: 200px !important;
    font-size: 16px !important;
}
#product-inputs {
    width: 200px !important;
}
.log-date {
    font-size: 14px;
    font-style: italic;
}

.log-for {
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.daily-log-create-form label {
    background-color: transparent !important;
}
