.employee-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.employee-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.employee-details {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}

.employee-number {
    margin: 0;
}
.employee-hourly-rate {
    width: 100px;
}

.employee-buttons button {
    width: 200px !important;
    padding: 12px !important;
    text-align: center !important;
}

.assign-work-section {
    list-style: none;
    position: absolute;
    width: 300px;
    margin-top: -75px;
}

.assign-work-section send-btn {
    width: 100% !important;
}
.selected-product-list {
    list-style: none;
    font-style: italic;
    color: rgba(0, 0, 0, 0.78);
    background-color: #f3f4ff;
    padding: 10px;
    margin-left: 10px;
}