.create-product-form {
    width: 500px;
    border: solid #d3d3d3 1px;
    padding: 20px 50px 20px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.create-product-form label{
    display: inline-flex;
    width: 100%;
}

.create-product-form input{
    width: 100%;
}
.article-num {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}


.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}


.amount {
    display: inline-flex !important;
}

.amount-desc {
    font-size: 0.8rem;
    font-style: italic;
}

.time-to-complete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}


.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
